@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background: #f3f4f6; /* Un gris muy suave, agradable para la vista */
  color: #1f2937; /* Gris oscuro para texto, mejor que negro puro */
}